.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $mainDarkColor;
    text-align: center;
    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }
  
  @media screen and (min-width: 1200px){
  .footer__box {
    display: flex;
    align-items: baseline;
    gap: 70px;
    
  }}
  
  .bottom-logo {
    margin-bottom: 20px;
  }
  
 
  .footer__map {
    margin-bottom: 9px;
    color: $mainLightColor;
    text-decoration: none;
  }
  .footer__link {
    margin-bottom: 9px;
    color: $secondaryTextLightColor;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
 
  
  .footer__contact {
    line-height: 1.71;
    font-style: normal;
    gap: 9px;
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    }
  }
  
  
  .footer-nets__item {
    width: 44px;
    height: 44px;
  }
  
  .footer-nets__title {
    margin: 0px;
    margin-bottom: 20px;
    color: $mainLightColor;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px){
      margin-bottom: 0px;
    }
  }
  
  .footer-nets {

    margin-left: auto;
    margin-right: auto;
    width: 206px;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      margin-right: 89px;
    }

    @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 20px;
  
    }
  }
  
  @media screen and (min-width: 768px){
    .footer__adress {
      display: flex;
      align-items: baseline;
      
    }
  }

  @media screen and (min-width: 1200px){
    .footer__adress {
      gap: 70px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {

  .footer__adress-box {
    margin-left: 76px;
  }
  }
  
  