.header-outline {
    border-bottom: 1px solid #ececec;
    
  }
  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  .header__nav,
  .head-contacts {
    display: none;
  }

  .head-mobile-button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  .head-mobile-button .icon-cross { 
    display: none;
  } 
  .head-mobile-button.is-open .icon-cross {
    display: block;
  }

  .head-mobile-button.is-open .icon-menu {
    display: none;
  }
