.form-title {
    text-align: center;
    margin: 0;
    margin-bottom: 12px;
    color: $titleTextColor;
    letter-spacing: 0.03em;
    line-height: 1.172;
  }
  
  .form-item {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
  }
  
  .form-item__box {
    position: relative;
    margin-bottom: 10px;
  }
  
  .form-item__cell {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding: 11px 2px 11px 32px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: $accentColor;
      cursor: pointer;
    }
    
    &:focus + .form-item__icon {
      fill: $accentColor;
    }
    
  }
  
  .form-item__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }
  

  .comment-box {
    margin-bottom: 20px;
  }
  
  .form-textarea {
    height: 120px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
      border-color: $accentColor;
      cursor: pointer;
      outline: none;
      color: $logoDarkColor;
      font-size: inherit;
    }
  }
  
  .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .checkbox__label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    gap: 8px;

    &::before {
      content: "";
      display: flex;
      justify-content: center;
      align-items: center;
      height: 15px;
      width: 16px;
      background-image: url(../images/checkbox.svg);
    }
    
    &::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      height: 16px;
      width: 16px;
      border-radius: 1px;
      background-image: url(../images/icon-check.svg);
      border: 1px solid $accentColor;
      background-color: $accentColor;
    
      background-origin: border-box;
      opacity: 0;
    }

    &:focus-within::before {
      border: 2px solid $accentColor;
      border-radius: 3px;
    }

    @media screen and (min-width: 440px) {
      font-size: 12px;  
    }
  }
  
  .checkbox__link {
    color: $accentColor;

    &:focus {
      outline: 1px solid;
      border-radius: 4px;
    }
  }

  .checkbox__input:checked + .checkbox__label::after {
    opacity: 1;
  }
  
  
  .form-btn {
    @extend %button;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    padding: 10px 52px;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
   
  }
  