
 .logo {
    color: $accentColor;
    font-family: $logo-font;
    font-size: 26px;
    text-decoration: none;
  }
  .dark-logo {
    color: $logoDarkColor;
  }

// for footer logo //
   
  .light-logo {
    color: $mainLightColor;
  } 

 