.section-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.179;
    letter-spacing: 0.03em;
    text-align: center;
    color: $titleTextColor;
    margin-top: 0;
  }

  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    color: $titleTextColor;
    margin-top: 0;
  }