$primeryTextColor: #757575;
$titleTextColor: #212121;
$mainLightColor: #ffffff;
$accentColor: #2196f3;
$secondaryAccentColor: #188ce8;
$logoDarkColor: #000000;
$mainDarkColor: #2f303a;
$secondaryLightColor: #f5f5f5;
$secondaryTextLightColor: rgba(255, 255, 255, 0.6);
$buttonsColor: #f5f4fa;


$main-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;
